{% extends 'layout/base.html' %}

{% block title %}Đăng nhập {% endblock %}

{% block content %}
<h1 class="text-success text-center nt-2">ĐĂNG NHẬP NGƯỜI DÙNG</h1>
<form method="post" action="/login?next=/" >
  <div class="form-group">
    <label for="name">Tên đăng nhập</label>
    <input type="text" class="form-control" placeholder="Tên đăng nhập" id="name" name="username">
  </div>
  <div class="form-group">
    <label for="pwd">Mật khẩu:</label>
    <input type="password" class="form-control" placeholder="Mật khẩu" id="pwd" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
{% endblock %}